/*
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

button {
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin-top: 8px;
  padding: 15px;
  width: 100%;
}

button:hover {
  background-color: darkgreen;
}

div {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
}
*/

body main {
  margin: 10px;
}

select,
input[type="email"],
input[type="tel"],
input[type="url"]
{
  display: block;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #BBB;
  border-radius: 5px;
}

select option:hover {
  background: #666;
}

button {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background: #4caf50;
  color: white;
}

button:hover {
  background: darkgreen;
}

textarear {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}